<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/app.js"></script>
    <link rel="icon" href="/img/logo.png">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p class="text-muted">This site was created by <b>{{name}}</b>. It uses data from mapbox.com and
            openweathermap api.
        </p>
        <img class="portrait" src="/img/me.jpeg" alt="My image">
    </div>
    {{>footer}}
    <link rel="stylesheet" href="/css/styles.css">
</body>

</html>